/*  element selector  */
h1{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: #9b59b6;
}



/* group selector  */

h3,h4
{
 color: #f39c12;
 font-size: 25px;
}

/*  id selector */

#heading2
{
    color: #273c75;
}


.para
{
    color: #fbc531;
}


.first-para
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}


#second-para
{
    color: #40739e;
}