*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    background-color: darkblue;
    justify-content: center;
    display: flex;
    color: grey;
    align-items: center;
    font-size: 20px;
    font-family: sans-serif;

}
.list-item{
    display: inline-block;
    padding: 10px 10px;
}
.nav_list{
    list-style: none;
}
.nav_list li{
    display: inline-block;
    padding: 10px 10px;
}
.nav_list li a{
    text-decoration: none;
    color: white;
}
.nav_list li a:hover{
    color: red;
}
